div.field {
  margin-top: 20px;
}

label {
  font-weight: 600;
  display: block;
}

.readonly {
  background: #ddd;
}

.writeable {
}

div.field input:not([type="checkbox"]),
div.field textarea {
  width: 50%;
}

button {
  margin-right: 8px;
}
